<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Powerd by
        <a href='https://hexo.io/'>Hexo</a>. Theme-
        <a href="https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak">Tranquilpeak</a>
       | Copyrights &copy;
        <%= date(new Date(), 'YYYY')%>. Post with 💙 by
            <%= config.author%>.
    </span>
    <br/>
    <span>

    </span>
</footer>